:root {
  --color-text: rgb(98 254 251);
  --color-text-2: white;
  --color-text-3: black;
  --width-tech-item: 23.333333%;
  --box-shadow-1: #fb7185;
  --box-shadow-2: #60a5fa;
  --bg-ex: rgb(60 60 60 0.4);
  --width: 1200px;
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../assets/background.webp");
  color: var(--color-text);
}

h2 {
  font-size: 30px;
}

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(98 254 251); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 1px solid white; /* creates padding around scroll thumb */
}
